<h1>Registro de Personal</h1>

<hr>

<div class="agregar">

  <button class="btn btn-primary" [routerLink]="['/persona/nuevo']">Agregar</button>

</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Tel</th>
      <th scope="col">Estado Civil</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of personas | keys; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{personas[k].nombre}}</td>
      <td>{{personas[k].apellido}}</td>
      <td>{{personas[k].direccion}}</td>
      <td>{{personas[k].telefono}}</td>
      <td>{{personas[k].estado}}</td>
      <td scope="col"><button [routerLink]="['/persona', k]" type="button" class="btn btn-light">Actualizar</button></td>
      <td scope="col"><button (click)="eliminar(k)" type="button" class="btn btn-danger">Eliminar</button></td>
    </tr>
  </tbody>
</table>