<h1>Registro de Personal</h1>

<hr>

<div class="agregar">

  <button class="btn btn-primary" [routerLink]="['/persona/nuevo']">Agregar</button>

</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Tel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Cr 13 # 24-24</td>
      <td>+58 314562342</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Cr 134 # 12-24</td>
      <td>+57 314524234</td>
    </tr>
  </tbody>
</table>