/* You can add global styles to this file, and also import other style files */
.main-container{
    margin-top: 50px;
    margin-bottom: 100px;
}

.agregar{
    margin-bottom: 30px;   
}
#tform{
    margin-top: 40px; 
}